<h3>About Momasy</h3>

<section class="col-8">
<p>All art is fake and not for sell. This site is made by Ada students (vivejest): Vicki, Vera, Jessica and Stephanie!</p>

  <p>
  <%= image_tag "art.jpg", alt: "art", class: "img-fluid product__image" %>
  </p>
</section >
