<div class='homepage'>

  <section>
    <ul class="list-group">
      <%@products.each do |product|%>
        <li class="list-group-item">
          <%=product.name%>
          <%=product.price%>
        </li>
      <%end%>
    </ul>
  </section>
</div>