
<h2 id="top">List of Merchants</h2>

<section data-spy='scroll' class="sticky-top text-right p-2 products__sticky">
  <%= link_to "Jump to top", href="#top", class: "btn btn-custom"%></span>
</section>

<div class="card-columns">
  <% @merchants.each do |merchant| %>
    <%= render partial: "merchant", locals: {merchant: merchant} %>
  <% end %>
</div>