/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body {
  font-family: 'Montserrat', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  // grid-auto-rows: minmax(100px, auto);
}

.app-header__header {
  background-color: #eeeeee;
  color: olive;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
  grid-column: 1/4;
}

//TODO - 
.sidebar {
  // grid-column: 1;
  // grid-row: 2;
  // justify-items: start;
  // align-items: start;
  // grid-auto-rows: 100px;
  float: left;
  text-align: center;
  background-color: #eeeeee;
  position: relative;
  top: 55px;
  // list-style-type: square;
  // list-style-position: inside, center;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 210px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 200px;
  margin-left: 1rem;

}

.flash {
  grid-column: 2/4;
  grid-row: 2;
  grid-auto-rows: 10px;
}

.main {
  grid-column: 2/4;
  grid-row: 3;
}

.app-footer__footer {
  grid-column: 1/4;
  grid-row: 4;
  background-color: #eeeeee;
  color: olive;
  padding: 2rem 1rem 0.5rem 1rem;
  text-align: center;
}



.app-header__title, a {
  color:olive;
}



.app-header__site-nav-container .nav-item{
  margin-right: 2rem;
}

a {
  color: black;
}

a:link {
  // text-decoration: none;
  // color: black;
}

a:hover {
  color:olive;
  text-decoration: none;
}

.btn-custom {
  background-color: olive;
  color: white;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border: none;
}