// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
}

.product__all__header {
  font-size: 2rem;
}

.product__count {
  font-size: 1rem;
}

.product__info {
  background-color: #eeeeee;
}

.product__name {
  font-size: 1.75rem;
  font-style: italic;
  color: #807f01;
}

.product__artist {
  font-size: 1rem;
  color: #800000;
  margin-bottom: 1rem;
}

.product__image {
  width: 100%;
}

a .product__image {
  padding: 2rem;
  border: 10px solid #343434;
  box-shadow: 7px 7px 5px grey;
}

a .product__image:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.card-columns {
  column-count: 4;
}

.product__details {
  width: 100%;
}

.product__price {
  font-size: 2rem;
}

.product__link {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.img_max {
  max-width: 530px;
  max-height: 530px;
}

.product__grid {
  -webkit-column-width: 19em;
  -webkit-column-width: 19em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
}

.products__sticky {
  margin-top: -50px;
}