<h1 id="top" class="product__all__header">
  <%= @category.name %> <span class="product__count">(<%= @category.products.length %> products)</span>
</h1>

<section data-spy='scroll' class="sticky-top text-right p-2 products__sticky">
  <%= link_to "Jump to top", href="#top", class: "btn btn-custom"%></span>
</section>

<section>
  <% if @products.empty? %>
      <p>Sorry, there are currently no products in this category.</p>
  <% else %>
    <div class="product__grid">
      <% @products.where(active: true).each do |product| %>
        <%= render partial: "./shared/product", locals: {product: product} %>
      <% end %>
    </div>
  <% end %>  
</section>

