<h1>all products</h1>

  <% @products.each do |product| %>
  <ul>
    <li> <%=link_to product.name , product_path(product.id) %></li>
    <li> Price:$ <%=product.price %></li>

    <% if product.image == nil  %>
      <li> <%= image_tag  "art.jpg" , alt:"pic"%></li>
    <% else %>
      <li> <%= image_tag  product.image, alt:"pic"%></li>
   <% end  %>
  </ul>
  <% end  %>

