<h1>Product detail page</h1>
<p>Art Name:<%= @product.name %></p>
<p>Price:$ <%= @product.price %></p>
<p>Inventory<%= @product.inventory %></p>









<%= link_to "Delete", product_path(@product.id) ,method: :delete, data: { confirm: "Are you sure you want to delete this product?"} ,class:"btn btn-danger"%>